# IDE files
*.cbp
*.replit
*.sln
*.pro

# Swap files
*.swp
*.swm
*.swn
*.swo

# Prerequisites
*.d

# Files from other languages
*.py

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files to intentionally be ignored

# File To iGNore
*.ftgn

# Local Repository
*.lr

# Direcotries to ignore
debugbin/
.yin/
.locl/
.loclbn/
